<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project other-projects">
      <figure class="project__pic phones">
        <a href="{{site.baseurl}}/img/featured/mitti/mitti-dashboar.png" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/mitti/mitti-dashboard.png" alt="" style="width: 70%;" />
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/mitti/mitti-plan.png" alt="" style="width: 70%;" />
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="{{site.baseurl}}/img/featured/mitti/mitti-dashboard.png" target="_blank">Mitti</a>
        </div>
        <p>
          Mitti is an IoT project which enables today's farmers to increase crop
          production. Physical device is used to sense the information like
          humidity, soil electrical conductivity, soil moisture, air pollution,
          solar radiation, various nutrients which will further process through
          our algorithms developed with the help of various agricultural
          experts. The device is maintenance free and solar powered. Mitti
          mobile app will assist farmers regarding water requirement and
          fertilization requirement according to soil condition, weather and
          crops. Basically IoT device gathers all the necessary information in
          real time, algorithm process the information and app makes that
          information available to farmers in regional layman’s language.
        </p>
        <div class="project__used">
          <span class="project__used__item">React Native</span>
          <span class="project__used__item">Expo</span>
          <span class="project__used__item">Parse Server</span>
          <span class="project__used__item">Partical Board</span>
          <span class="project__used__item">TypeScript</span>
        </div>
      </figcaption>
    </div>

    <div class="project other-projects">
      <figure class="project__pic">
        <a href="https://greendoorspm.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/greendoors/dashboard.png" alt="" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://greendoorspm.com/" target="_blank">Green Doors</a>
        </div>
        <p>
          Green doors is an all-in-one property management platform based in CANADA for landlords and growing property
          management companies. For most property owners, one of the major barriers to holding property as an asset
          class is the issue of maintenance of that rental property. As a result, we created a platform on which we
          provide some tools which can help to manage rental properties.
        </p>
        <div class="project__used">
          <span class="project__used__item">JavaScript</span>
          <span class="project__used__item">React</span>
          <span class="project__used__item">Redux</span>
          <span class="project__used__item">Arduino</span>
        </div>
      </figcaption>
    </div>

    <div class="project other-projects">
      <figure class="project__pic phones">
        <a href="https://in.remedoapp.com/" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/remedo/Remedo.png" alt="" style="width: 70%;" />
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/remedo/Remedo2.png" alt="" style="width: 70%;" />
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://in.remedoapp.com/" target="_blank">Remedo</a>
        </div>
        <p>
          Remedo Doctor app is designed to help doctors build their own brand and enables them to manage and grow their
          practice
          effortlessly, Remedo helps you: 1. Increase online presence 2. Improve online reputation 3. Boost patient
          footfall 4.
          Simplify consultations 5. Expand patient engagement 6. Enhance patient satisfaction 7. Drive repeat
          consultations 8.
          Grow practice revenue
        </p>
        <div class="project__used">
          <span class="project__used__item">React Native</span>
          <span class="project__used__item">Redux</span>
          <span class="project__used__item">Firebase</span>
          <span class="project__used__item">Python</span>
          <span class="project__used__item">AWS</span>
          <span class="project__used__item">Sentry</span>
          <span class="project__used__item">Circle CI</span>
        </div>
      </figcaption>
    </div>

    <div class="project other-projects">
      <figure class="project__pic phones">
        <a href="https://www.tcgprice.com" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/TCGPrice/1-high.png" alt="" style="width: 70%;" />
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/TCGPrice/8-high.png" alt="" style="width: 70%;" />
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.tcgprice.com" target="_blank">TCG Price</a>
        </div>
        <p>
          TCG Price is a card portfolio tracking app, where you can check your card price, and you can also buy and sell your card
          on this platform
        </p>
        <div class="project__used">
          <span class="project__used__item">React Native</span>
          <span class="project__used__item">Redux</span>
          <span class="project__used__item">Firebase</span>
          <span class="project__used__item">Algolia Search</span>
          <span class="project__used__item">In App Purchase</span>
        </div>
      </figcaption>
    </div>

    <div class="project other-projects">
      <figure class="project__pic phones">
        <a href="https://www.tcgprice.com" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/Buddoh/buddoh1.png" alt="" style="width: 70%;" />
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/Buddoh/buddoh2.png" alt="" style="width: 70%;" />
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.tcgprice.com" target="_blank">Buddoh</a>
        </div>
        <p>
          Buddoh is a community of users who complete spending challenges, to see how they rank and spend compared to people like
          them. A community of users who encourage each other to save. Buddoh is like talking to a buddy who asks questions,
          responds, and understands what's best for you. Buddoh automatically creates a monthly spend target for you to achieve
          based on your profile.
        </p>
        <div class="project__used">
          <span class="project__used__item">React Native</span>
          <span class="project__used__item">MobX</span>
          <span class="project__used__item">AWS</span>
        </div>
      </figcaption>
    </div>

    <div class="project other-projects">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/featured/exactt/dashboard.png" target="_blank">
          <img src="{{site.baseurl}}/img/featured/exactt/dashboard.png" alt="" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="{{site.baseurl}}/img/featured/exactt/dashboard.png" target="_blank">Exactt LIMS</a>
        </div>
        <p>
          Exactt is a Laboratory Information Management System (LIMS) is
          software that allows you to effectively manage samples and associated
          data. Main aim of the exactt is to replace existing slow system into
          robust system with mordern UX and fast data queries with multiple role
          control.
        </p>
        <div class="project__used">
          <span class="project__used__item">React</span>
          <span class="project__used__item">Firebase</span>
          <span class="project__used__item">Express.js</span>
          <span class="project__used__item">TypeScript</span>
        </div>
      </figcaption>
    </div>

    <div class="project other-projects">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/featured/loo/loo-dashboard.png" target="_blank">
          <img src="{{site.baseurl}}/img/featured/loo/loo-dashboard.png" alt="" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="{{site.baseurl}}/img/featured/loo/loo-dashboard.png" target="_blank">Loo (Sauchalaya)</a>
        </div>
        <p>
          In India, the Government is trying to spread awareness about
          sanitation hygiene as a part of a nationwide campaign called Swachh
          Bharat Abhiyan. In my second year of bachelors’, under this campaign,
          I initiated a Loo Project in which I tried developing a software with
          an aim of mapping and collecting ground reality data like accurate
          location, hygiene, women friendliness, accessibility, etc. about
          public toilets.
        </p>
        <div class="project__used">
          <span class="project__used__item">Express.js</span>
          <span class="project__used__item">Google Map APIs</span>
        </div>
      </figcaption>
    </div>
  </div>
</section>