<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic phones">
        <a
          href="{{site.baseurl}}/img/featured/mitti/mitti-dashboar.png"
          target="_blank"
        >
          <div class="phone">
            <img
              src="{{site.baseurl}}/img/featured/mitti/mitti-dashboard.png"
              alt=""
              style="width: 70%;"
            />
          </div>
          <div class="phone">
            <img
              src="{{site.baseurl}}/img/featured/mitti/mitti-plan.png"
              alt=""
              style="width: 70%;"
            />
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a
            href="{{site.baseurl}}/img/featured/mitti/mitti-dashboard.png"
            target="_blank"
            >Mitti</a
          >
        </div>
        <p>
          Mitti is an IoT project which enables today's farmers to increase crop
          production. Physical device is used to sense the information like
          humidity, soil electrical conductivity, soil moisture, air pollution,
          solar radiation, various nutrients which will further process through
          our algorithms developed with the help of various agricultural
          experts. The device is maintenance free and solar powered. Mitti
          mobile app will assist farmers regarding water requirement and
          fertilization requirement according to soil condition, weather and
          crops. Basically IoT device gathers all the necessary information in
          real time, algorithm process the information and app makes that
          information available to farmers in regional layman’s language.
        </p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a
          href="{{site.baseurl}}/img/featured/exactt/dashboard.png"
          target="_blank"
        >
          <img
            src="{{site.baseurl}}/img/featured/exactt/dashboard.png"
            alt=""
          />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a
            href="{{site.baseurl}}/img/featured/exactt/dashboard.png"
            target="_blank"
            >Exactt LIMS</a
          >
        </div>
        <p>
          Exactt is a Laboratory Information Management System (LIMS) is
          software that allows you to effectively manage samples and associated
          data. Main aim of the exactt is to replace existing slow system into
          robust system with mordern UX and fast data queries with multiple role
          control.
        </p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a
          href="{{site.baseurl}}/img/featured/loo/loo-dashboard.png"
          target="_blank"
        >
          <img
            src="{{site.baseurl}}/img/featured/loo/loo-dashboard.png"
            alt=""
          />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a
            href="{{site.baseurl}}/img/featured/loo/loo-dashboard.png"
            target="_blank"
            >Loo (Sauchalaya)</a
          >
        </div>
        <p>
          In India, the Government is trying to spread awareness about
          sanitation hygiene as a part of a nationwide campaign called Swachh
          Bharat Abhiyan. In my second year of bachelors’, under this campaign,
          I initiated a Loo Project in which I tried developing a software with
          an aim of mapping and collecting ground reality data like accurate
          location, hygiene, women friendliness, accessibility, etc. about
          public toilets.
        </p>
      </figcaption>
    </div>
  </div>
</section>
